---
title: "Loader LayMeDow"
layout: base.njk
---

<link rel="shortcut icon" href="/assets/favicon.webp" type="image/x-icon" />

<section class="loader loader-1">
  <div class="circle" style="--s: 1"></div>
  <div class="circle" style="--s: 2"></div>
  <div class="circle" style="--s: 3"></div>
  <div class="circle" style="--s: 4"></div>
  <div class="circle" style="--s: 5"></div>
  <div class="circle" style="--s: 6"></div>
  <div class="circle" style="--s: 7"></div>
  <div class="circle" style="--s: 8"></div>
  <div class="circle" style="--s: 9"></div>
  <div class="circle" style="--s: 10"></div>
  <div class="circle" style="--s: 11"></div>
  <div class="circle" style="--s: 12"></div>
  <div class="circle" style="--s: 13"></div>
  <div class="circle" style="--s: 14"></div>
  <div class="circle" style="--s: 15"></div>
  <div class="circle" style="--s: 16"></div>
  <div class="circle" style="--s: 17"></div>
  <div class="circle" style="--s: 18"></div>
  <div class="circle" style="--s: 19"></div>
  <div class="circle" style="--s: 20"></div>
</section>
